body{
     width:60%;
     margin:auto;
     background-color:lightgreen;
     }

#contact{
    text-align:right;
    }
#logo{
      float:left;
 }

h1,h2{
   height:30px;
   font-style:italic;
  } 


#mainmenu{
	text-align:right;
	background-color:pink;
	margin-top:20px;
	padding:10px;
   }

#mainimage{
        width:100%;
	height:60%;
	}
